In [22]:
import pandas as pd
import news_injection
import stock_data_injection

In [23]:
portfolio_df= stock_data_injection.portfolio
portfolio_price_df= stock_data_injection.portfolio_price

In [24]:
new_data_df= news_injection.news_data

In [25]:
def dataframe_overview(df):
    #display basic information about dataframe 
    print('Dataframe Info:\n')
    df.info()

    #display the description of datframe 
    print('\n Dataframe Description:\n')
    print(df.describe())
    
    #display for the null value presrnt in the dataframe
    print("\n Check null value in Dataframe: \n")
    print(df.isnull().sum())

    #display for the duplicate values in the dataframe
    print('\n Check Duplicate values in Datafrme: \n')
    print(df.duplicated().sum())
    
    # display the unique values present in the Dataframe
    print('\n Check the unique values of dataframe: \n')
    print(df.nunique())

    #display the column details of each dataframe
    print('\n Column Description: \n')
    print(list(df.columns))

    # display the shape of each dataframe
    print('\n Shape of Dataframe (Rows,Colums):\n')
    print(df.shape)

    #display the data type of dataframe
    print('\n Data type of Each Column in Dataframe: \n ')
    print(df.dtypes)

    return

In [26]:
# passing datafame to dataframe_overview 

print('\n Displaying the Overview of Portfolio dataframe: \n')
dataframe_overview(portfolio_df)

 Displaying the Overview of Portfolio dataframe:

Dataframe Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ticker    27 non-null     object
 1   Quantity  27 non-null     int64
 2   Sector    27 non-null     object
 3   Close     27 non-null     float64
 4   Weight    27 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.2+ KB

 Dataframe Description:

        Quantity       Close     Weight
count  27.000000   27.000000  27.000000
mean    2.814815  233.556703   3.703704
std     1.687899  216.975836   3.440767
min     1.000000    0.291000   0.004615
25%     1.000000   91.144996   1.445362
50%     2.000000  173.360001   2.749114
75%     5.000000  300.975006   4.772812
max     5.000000  960.289978  15.228120

 Check null value in Dataframe:

Ticker      0
Quantity    0
Sector      0
Close       0
Weight      0
dtype: int64

 Check Duplicate values in Datafrme:

0

 Check the unique values of dataframe:

Ticker      27
Quantity     5
Sector      12
Close       27
Weight      27
dtype: int64

 Column Description:

['Ticker', 'Quantity', 'Sector', 'Close', 'Weight']

 Shape of Dataframe (Rows,Colums):

(27, 5)

 Data type of Each Column in Dataframe:

Ticker       object
Quantity      int64
Sector       object
Close       float64
Weight      float64
dtype: object

In [27]:
print('\n Displaying the Overview of Portfolio Prices  dataframe: \n')
dataframe_overview(portfolio_df)

 Displaying the Overview of Portfolio Prices  dataframe:

Dataframe Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ticker    27 non-null     object
 1   Quantity  27 non-null     int64
 2   Sector    27 non-null     object
 3   Close     27 non-null     float64
 4   Weight    27 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.2+ KB

 Dataframe Description:

        Quantity       Close     Weight
count  27.000000   27.000000  27.000000
mean    2.814815  233.556703   3.703704
std     1.687899  216.975836   3.440767
min     1.000000    0.291000   0.004615
25%     1.000000   91.144996   1.445362
50%     2.000000  173.360001   2.749114
75%     5.000000  300.975006   4.772812
max     5.000000  960.289978  15.228120

 Check null value in Dataframe:

Ticker      0
Quantity    0
Sector      0
Close       0
Weight      0
dtype: int64

 Check Duplicate values in Datafrme:

0

 Check the unique values of dataframe:

Ticker      27
Quantity     5
Sector      12
Close       27
Weight      27
dtype: int64

 Column Description:

['Ticker', 'Quantity', 'Sector', 'Close', 'Weight']

 Shape of Dataframe (Rows,Colums):

(27, 5)

 Data type of Each Column in Dataframe:

Ticker       object
Quantity      int64
Sector       object
Close       float64
Weight      float64
dtype: object

In [28]:
print('\n Displaying the Overview of News dataframe: \n')
dataframe_overview(portfolio_df)

 Displaying the Overview of News dataframe:

Dataframe Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ticker    27 non-null     object
 1   Quantity  27 non-null     int64
 2   Sector    27 non-null     object
 3   Close     27 non-null     float64
 4   Weight    27 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.2+ KB

 Dataframe Description:

        Quantity       Close     Weight
count  27.000000   27.000000  27.000000
mean    2.814815  233.556703   3.703704
std     1.687899  216.975836   3.440767
min     1.000000    0.291000   0.004615
25%     1.000000   91.144996   1.445362
50%     2.000000  173.360001   2.749114
75%     5.000000  300.975006   4.772812
max     5.000000  960.289978  15.228120

 Check null value in Dataframe:

Ticker      0
Quantity    0
Sector      0
Close       0
Weight      0
dtype: int64

 Check Duplicate values in Datafrme:

0

 Check the unique values of dataframe:

Ticker      27
Quantity     5
Sector      12
Close       27
Weight      27
dtype: int64

 Column Description:

['Ticker', 'Quantity', 'Sector', 'Close', 'Weight']

 Shape of Dataframe (Rows,Colums):

(27, 5)

 Data type of Each Column in Dataframe:

Ticker       object
Quantity      int64
Sector       object
Close       float64
Weight      float64
dtype: object

In [36]:
def trim (df):

    #Strip the leading anf trailing whitespaces form column name 
    df.columns = df.columns .str.strip()

    # droping the duplicates rows
    df= df.drop_duplicates()

    #Convert all column name into lowercase 
    df.columns= df.columns.str.lower()

    # Convert all column names to lowercase for consistency
    df.columns = df.columns.str.lower()

    # Replace spaces in column names with underscores for easier access
    df.columns = df.columns.str.replace(' ', '_')

    # Select columns with object data types (categorical/textual data)
    df_obj = df.select_dtypes(['object'])

    # Convert object type columns to string and strip whitespace from each value
    df[df_obj.columns] = df_obj.apply(lambda x: x.astype(str).str.strip())

    # Print confirmation message after cleaning
    print("All column names cleaned, duplicates dropped, and text columns processed.")
    return df

trim(portfolio_price_df)
portfolio_price_df

All column names cleaned, duplicates dropped, and text columns processed.

,Date,Ticker,Open,High,Low,Close,Adjusted,Returns,Volume
0,2020-01-03,JPM,137.500000,139.229996,137.080002,138.339996,119.874138,-0.013197,10386800
1,2020-01-03,KO,54.320000,54.990002,54.090000,54.689999,46.494698,-0.005455,11354500
2,2020-01-03,LMT,404.019989,417.170013,403.000000,413.739990,359.312317,0.035981,2990100
3,2020-01-03,MS,51.220001,51.450001,50.830002,51.200001,43.273079,-0.016142,6706000
4,2020-01-03,MSCI,262.200012,263.579987,259.269989,260.750000,248.019470,-0.019921,459700
...,...,...,...,...,...,...,...,...,...
35392,2025-03-21,ADAP,0.307000,0.310000,0.280000,0.291000,0.291000,0.039286,5008800
35393,2025-03-21,AAPL,211.559998,218.839996,211.279999,218.270004,218.270004,0.019477,93954500
35394,2025-03-21,SPY,559.280029,564.890015,558.030029,563.979980,563.979980,0.000330,83666800
35395,2025-03-21,HUM,266.140015,269.309998,263.230011,266.170013,266.170013,-0.002473,1963600
35396,2025-03-21,TMUS,254.440002,258.440002,254.330002,255.839996,255.839996,-0.004630,9207000

In [34]:
trim(portfolio_df)

All column names cleaned, duplicates dropped, and text columns processed.

   ticker  quantity                sector       close     weight
0    AAPL         1                    IT  218.270004   3.461290
1    ADAP         1       Pharmaceuticals    0.291000   0.004615
2    AGCO         1           Agriculture   93.089996   1.476206
3      BA         2  Military Engineering  178.110001   2.824439
4      BG         4           Agriculture   73.250000   1.161586
5    CALM         5           Agriculture   89.199997   1.414519
6     CAT         1           Engineering  335.779999   5.324744
7    CSCO         5                    IT   60.299999   0.956227
8     CVX         2     Natural Resources  164.750000   2.612578
9    DDOG         5                    IT  105.029999   1.665548
10     DE         4           Agriculture  472.429993   7.491717
11   GRWG         2           Agriculture    1.270000   0.020139
12    HUM         1            Healthcare  266.170013   4.220880
13   IBKR         1               Finance  173.360001   2.749114
14    IEX         5           Engineering  181.910004   2.884699
15    JPM         5               Finance  241.630005   3.831729
16     KO         5      Food & Beverages   68.669998   1.088958
17    LMT         5  Military Engineering  439.700012   6.972690
18     MS         1               Finance  120.139999   1.905160
19   MSCI         1               Finance  562.559998   8.920984
20   MSFT         3                    IT  391.260010   6.204537
21   NFLX         1         Entertainment  960.289978  15.228120
22    OSK         3           Engineering   95.779999   1.518863
23    PFE         2       Pharmaceuticals   26.280001   0.416744
24     PG         2        Consumer Goods  166.690002   2.643343
25    SPY         3               Finance  563.979980   8.943502
26   TMUS         5    Telecommunications  255.839996   4.057068

In [33]:
trim(new_data_df)

All column names cleaned, duplicates dropped, and text columns processed.

,ticker,headline,summary,datetime,url,source
0,AAPL,Apple's AI shakeup: They might not be 'moving ...,"Apple (AAPL) is shaking up its AI executives, ...",2025-03-21 23:45:00,https://finnhub.io/api/news?id=28df6f8c82b485d...,Yahoo
1,AAPL,Apple (AAPL) Eyes AI-Powered Future Despite De...,We recently published a list of 10 AI Stocks T...,2025-03-21 21:34:28,https://finnhub.io/api/news?id=47a2acfb39cc93c...,Yahoo
2,AAPL,"Apple, in effort to turn around Siri, shakes u...",Apple (AAPL) CEO Tim Cook lost faith in AI hea...,2025-03-21 17:17:22,https://finnhub.io/api/news?id=78367bba2513b3e...,Yahoo
3,AAPL,"Accenture reports Q2 beat, Apple TV+ losing $1...",The major indexes were fractionally higher nea...,2025-03-21 17:16:26,https://finnhub.io/api/news?id=7fa6ca959283b70...,Yahoo
4,AAPL,Report: Apple Reassigns Siri Development to Vi...,Siri is no longer under AI chief John Giannand...,2025-03-21 16:51:44,https://finnhub.io/api/news?id=8d5760e25ac6966...,Yahoo
...,...,...,...,...,...,...
5708,TMUS,T-Mobile Introduces Enticing 5G Internet Plans...,TMUS' new Internet plans aim to offer consiste...,2024-12-06 17:51:00,https://finnhub.io/api/news?id=55163c7f7220322...,Yahoo
5709,TMUS,Verizon Stock Hasn’t Done Great This Year. 2 R...,Verizon Stock Hasn’t Done Great This Year. 2 R...,2024-12-06 14:21:00,https://finnhub.io/api/news?id=5d0a1c5dc409902...,MarketWatch
5710,TMUS,T-Mobile Unveils New Home and Small Business I...,"BELLEVUE, Wash., December 05, 2024--Today, T-M...",2024-12-05 15:01:00,https://finnhub.io/api/news?id=d8448122a80f9d6...,Yahoo
5711,TMUS,"After Hitting an All-Time High, Is T-Mobile U...",T-Mobile US (NASDAQ: TMUS) is a top telecom st...,2024-12-05 11:00:00,https://finnhub.io/api/news?id=0bb5efdbde28dd6...,Yahoo
5712,TMUS,The Trump M&A Boom Is Coming. A Top Dealmaker ...,The Trump M&A Boom Is Coming. A Top Dealmaker ...,2024-12-05 04:00:00,https://finnhub.io/api/news?id=1793fe918010bf5...,MarketWatch