In [23]:
import pandas as pd
import news_injection
import stock_data_injection

In [24]:
portfolio_df= stock_data_injection.portfolio
portfolio_price_df= stock_data_injection.portfolio_price

In [34]:
news_data_df= news_injection.news_data
news_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5713 entries, 0 to 5712
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ticker    5713 non-null   object
 1   headline  5713 non-null   object
 2   summary   5632 non-null   object
 3   datetime  5713 non-null   object
 4   url       5713 non-null   object
 5   source    5713 non-null   object
dtypes: object(6)
memory usage: 267.9+ KB

In [26]:
def dataframe_overview(df):
    #display basic information about dataframe 
    print('Dataframe Info:\n')
    df.info()

    #display the description of datframe 
    print('\n Dataframe Description:\n')
    print(df.describe())
    
    #display for the null value presrnt in the dataframe
    print("\n Check null value in Dataframe: \n")
    print(df.isnull().sum())

    #display for the duplicate values in the dataframe
    print('\n Check Duplicate values in Datafrme: \n')
    print(df.duplicated().sum())
    
    # display the unique values present in the Dataframe
    print('\n Check the unique values of dataframe: \n')
    print(df.nunique())

    #display the column details of each dataframe
    print('\n Column Description: \n')
    print(list(df.columns))

    # display the shape of each dataframe
    print('\n Shape of Dataframe (Rows,Colums):\n')
    print(df.shape)

    #display the data type of dataframe
    print('\n Data type of Each Column in Dataframe: \n ')
    print(df.dtypes)

    return

In [27]:
# passing datafame to dataframe_overview 

print('\n Displaying the Overview of Portfolio dataframe: \n')
dataframe_overview(portfolio_df)

 Displaying the Overview of Portfolio dataframe:

Dataframe Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ticker    27 non-null     object
 1   Quantity  27 non-null     int64
 2   Sector    27 non-null     object
 3   Close     27 non-null     float64
 4   Weight    27 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.2+ KB

 Dataframe Description:

        Quantity       Close     Weight
count  27.000000   27.000000  27.000000
mean    2.814815  233.556703   3.703704
std     1.687899  216.975836   3.440767
min     1.000000    0.291000   0.004615
25%     1.000000   91.144996   1.445362
50%     2.000000  173.360001   2.749114
75%     5.000000  300.975006   4.772812
max     5.000000  960.289978  15.228120

 Check null value in Dataframe:

Ticker      0
Quantity    0
Sector      0
Close       0
Weight      0
dtype: int64

 Check Duplicate values in Datafrme:

0

 Check the unique values of dataframe:

Ticker      27
Quantity     5
Sector      12
Close       27
Weight      27
dtype: int64

 Column Description:

['Ticker', 'Quantity', 'Sector', 'Close', 'Weight']

 Shape of Dataframe (Rows,Colums):

(27, 5)

 Data type of Each Column in Dataframe:

Ticker       object
Quantity      int64
Sector       object
Close       float64
Weight      float64
dtype: object

In [30]:
print('\n Displaying the Overview of Portfolio Prices  dataframe: \n')
dataframe_overview(portfolio_price_df)

 Displaying the Overview of Portfolio Prices  dataframe:

Dataframe Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35397 entries, 0 to 35396
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      35397 non-null  object
 1   Ticker    35397 non-null  object
 2   Open      35397 non-null  float64
 3   High      35397 non-null  float64
 4   Low       35397 non-null  float64
 5   Close     35397 non-null  float64
 6   Adjusted  35397 non-null  float64
 7   Returns   35397 non-null  float64
 8   Volume    35397 non-null  int64
dtypes: float64(6), int64(1), object(2)
memory usage: 2.4+ MB

 Dataframe Description:

               Open          High           Low         Close      Adjusted  \
count  35397.000000  35397.000000  35397.000000  35397.000000  35397.000000
mean     186.594800    188.743701    184.425315    186.603784    180.245549
std      158.987921    160.594696    157.332765    158.981525    156.608371
min        0.307000      0.310000      0.261000      0.280000      0.280000
25%       65.919998     67.099998     64.870003     65.940002     62.584980
50%      135.520004    137.110001    133.919998    135.449997    127.919273
75%      254.270004    257.690002    251.089996    254.259995    249.110001
max     1060.000000   1064.500000   1041.689941   1058.599976   1058.599976

            Returns        Volume
count  35397.000000  3.539700e+04
mean       0.000706  1.294203e+07
std        0.028617  2.623952e+07
min       -0.376392  5.690000e+04
25%       -0.009723  8.660000e+05
50%        0.000597  3.426500e+06
75%        0.010858  1.253270e+07
max        2.000000  4.265100e+08

 Check null value in Dataframe:

Date        0
Ticker      0
Open        0
High        0
Low         0
Close       0
Adjusted    0
Returns     0
Volume      0
dtype: int64

 Check Duplicate values in Datafrme:

0

 Check the unique values of dataframe:

Date         1311
Ticker         27
Open        22323
High        23017
Low         22954
Close       22780
Adjusted    32941
Returns     35069
Volume      29164
dtype: int64

 Column Description:

['Date', 'Ticker', 'Open', 'High', 'Low', 'Close', 'Adjusted', 'Returns', 'Volume']

 Shape of Dataframe (Rows,Colums):

(35397, 9)

 Data type of Each Column in Dataframe:

Date         object
Ticker       object
Open        float64
High        float64
Low         float64
Close       float64
Adjusted    float64
Returns     float64
Volume        int64
dtype: object

In [32]:
print('\n Displaying the Overview of News dataframe: \n')
dataframe_overview(news_data_df)

 Displaying the Overview of News dataframe:

Dataframe Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5713 entries, 0 to 5712
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ticker    5713 non-null   object
 1   headline  5713 non-null   object
 2   summary   5632 non-null   object
 3   datetime  5713 non-null   object
 4   url       5713 non-null   object
 5   source    5713 non-null   object
dtypes: object(6)
memory usage: 267.9+ KB

 Dataframe Description:

       ticker                                           headline  \
count    5713                                               5713
unique     27                                               5185
top       SPY  My Dividend Stock Portfolio: New February Divi...
freq      250                                                  9

                                                  summary  \
count                                                5632
unique                                               4600
top     Looking for stock market analysis and research...
freq                                                  472

                   datetime  \
count                  5713
unique                 5092
top     2025-03-20 10:40:48
freq                      9

                                                      url source
count                                                5713   5713
unique                                               5203     21
top     https://finnhub.io/api/news?id=468f86fd4b412ee...  Yahoo
freq                                                    9   1759

 Check null value in Dataframe:

ticker       0
headline     0
summary     81
datetime     0
url          0
source       0
dtype: int64

 Check Duplicate values in Datafrme:

0

 Check the unique values of dataframe:

ticker        27
headline    5185
summary     4600
datetime    5092
url         5203
source        21
dtype: int64

 Column Description:

['ticker', 'headline', 'summary', 'datetime', 'url', 'source']

 Shape of Dataframe (Rows,Colums):

(5713, 6)

 Data type of Each Column in Dataframe:

ticker      object
headline    object
summary     object
datetime    object
url         object
source      object
dtype: object

In [19]:
def trim (df):

    #Strip the leading anf trailing whitespaces form column name 
    df.columns = df.columns .str.strip()

    # droping the duplicates rows
    df= df.drop_duplicates()

    #Convert all column name into lowercase 
    df.columns= df.columns.str.lower()

    # Convert all column names to lowercase for consistency
    df.columns = df.columns.str.lower()

    # Replace spaces in column names with underscores for easier access
    df.columns = df.columns.str.replace(' ', '_')

    # Select columns with object data types (categorical/textual data)
    df_obj = df.select_dtypes(['object'])

    # Convert object type columns to string and strip whitespace from each value
    df[df_obj.columns] = df_obj.apply(lambda x: x.astype(str).str.strip())

    # Print confirmation message after cleaning
    print("All column names cleaned, duplicates dropped, and text columns processed.")

    print("clean dataset \n")
    print(df.head())
    return df

In [22]:
# Applying the cleaning Function on all datafrmes avalible 

#Applying the trim fuction to portfolio dataframe.
print("\n Clean Portfolio Dataset")
portfolio_data_clean= trim(portfolio_df)

#Applying the trim fuction to portfolio price dataframe.
print("\n Clean Portfolio Price Dataset")
portfolio_price_data_clean= trim(portfolio_price_df)

#Applying the trim fuction to news dataframe.
print("\n Clean News Dataset")
news_data_clean= trim(new_data_df)

 Clean Portfolio Dataset
All column names cleaned, duplicates dropped, and text columns processed.
clean dataset

  ticker  quantity                sector       close    weight
0   AAPL         1                    IT  218.270004  3.461290
1   ADAP         1       Pharmaceuticals    0.291000  0.004615
2   AGCO         1           Agriculture   93.089996  1.476206
3     BA         2  Military Engineering  178.110001  2.824439
4     BG         4           Agriculture   73.250000  1.161586

 Clean Portfolio Price Dataset
All column names cleaned, duplicates dropped, and text columns processed.
clean dataset

         date ticker        open        high         low       close  \
0  2020-01-03    JPM  137.500000  139.229996  137.080002  138.339996
1  2020-01-03     KO   54.320000   54.990002   54.090000   54.689999
2  2020-01-03    LMT  404.019989  417.170013  403.000000  413.739990
3  2020-01-03     MS   51.220001   51.450001   50.830002   51.200001
4  2020-01-03   MSCI  262.200012  263.579987  259.269989  260.750000

     adjusted   returns    volume
0  119.874138 -0.013197  10386800
1   46.494698 -0.005455  11354500
2  359.312317  0.035981   2990100
3   43.273079 -0.016142   6706000
4  248.019470 -0.019921    459700

 Clean News Dataset
All column names cleaned, duplicates dropped, and text columns processed.
clean dataset

  ticker                                           headline  \
0   AAPL  Apple's AI shakeup: They might not be 'moving ...
1   AAPL  Apple (AAPL) Eyes AI-Powered Future Despite De...
2   AAPL  Apple, in effort to turn around Siri, shakes u...
3   AAPL  Accenture reports Q2 beat, Apple TV+ losing $1...
4   AAPL  Report: Apple Reassigns Siri Development to Vi...

                                             summary             datetime  \
0  Apple (AAPL) is shaking up its AI executives, ...  2025-03-21 23:45:00
1  We recently published a list of 10 AI Stocks T...  2025-03-21 21:34:28
2  Apple (AAPL) CEO Tim Cook lost faith in AI hea...  2025-03-21 17:17:22
3  The major indexes were fractionally higher nea...  2025-03-21 17:16:26
4  Siri is no longer under AI chief John Giannand...  2025-03-21 16:51:44

                                                 url source
0  https://finnhub.io/api/news?id=28df6f8c82b485d...  Yahoo
1  https://finnhub.io/api/news?id=47a2acfb39cc93c...  Yahoo
2  https://finnhub.io/api/news?id=78367bba2513b3e...  Yahoo
3  https://finnhub.io/api/news?id=7fa6ca959283b70...  Yahoo
4  https://finnhub.io/api/news?id=8d5760e25ac6966...  Yahoo

In [21]:
news_data_clean

,ticker,headline,summary,datetime,url,source
0,AAPL,Apple's AI shakeup: They might not be 'moving ...,"Apple (AAPL) is shaking up its AI executives, ...",2025-03-21 23:45:00,https://finnhub.io/api/news?id=28df6f8c82b485d...,Yahoo
1,AAPL,Apple (AAPL) Eyes AI-Powered Future Despite De...,We recently published a list of 10 AI Stocks T...,2025-03-21 21:34:28,https://finnhub.io/api/news?id=47a2acfb39cc93c...,Yahoo
2,AAPL,"Apple, in effort to turn around Siri, shakes u...",Apple (AAPL) CEO Tim Cook lost faith in AI hea...,2025-03-21 17:17:22,https://finnhub.io/api/news?id=78367bba2513b3e...,Yahoo
3,AAPL,"Accenture reports Q2 beat, Apple TV+ losing $1...",The major indexes were fractionally higher nea...,2025-03-21 17:16:26,https://finnhub.io/api/news?id=7fa6ca959283b70...,Yahoo
4,AAPL,Report: Apple Reassigns Siri Development to Vi...,Siri is no longer under AI chief John Giannand...,2025-03-21 16:51:44,https://finnhub.io/api/news?id=8d5760e25ac6966...,Yahoo
...,...,...,...,...,...,...
5708,TMUS,T-Mobile Introduces Enticing 5G Internet Plans...,TMUS' new Internet plans aim to offer consiste...,2024-12-06 17:51:00,https://finnhub.io/api/news?id=55163c7f7220322...,Yahoo
5709,TMUS,Verizon Stock Hasn’t Done Great This Year. 2 R...,Verizon Stock Hasn’t Done Great This Year. 2 R...,2024-12-06 14:21:00,https://finnhub.io/api/news?id=5d0a1c5dc409902...,MarketWatch
5710,TMUS,T-Mobile Unveils New Home and Small Business I...,"BELLEVUE, Wash., December 05, 2024--Today, T-M...",2024-12-05 15:01:00,https://finnhub.io/api/news?id=d8448122a80f9d6...,Yahoo
5711,TMUS,"After Hitting an All-Time High, Is T-Mobile U...",T-Mobile US (NASDAQ: TMUS) is a top telecom st...,2024-12-05 11:00:00,https://finnhub.io/api/news?id=0bb5efdbde28dd6...,Yahoo
5712,TMUS,The Trump M&A Boom Is Coming. A Top Dealmaker ...,The Trump M&A Boom Is Coming. A Top Dealmaker ...,2024-12-05 04:00:00,https://finnhub.io/api/news?id=1793fe918010bf5...,MarketWatch